.chat {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.chat__username .chat__lastMessage {
  padding: 5px;
  margin-bottom: 0.1rem;
}
.chat__username-online {
  position: relative;
}

.chat__username-online::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% - 1ch);

  transform: translateY(-50%);
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.chat__lastMessage {
  display: flex;
  justify-content: space-between;
}

.chat:hover {
  color: white;
  background-color: #1e71f7;
  cursor: pointer;
}
