.searchBar {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.search {
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  height: 40px;
  padding: 2px 23px 2px 30px;
  font-size: 0.9rem;
}

.search-icon {
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.searchField {
  position: relative;
}

.users {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  background-color: #fff;
  overflow-y: auto;
}
