.searchItem {
  list-style: none;

  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.searchItem:hover {
  color: white;
  background-color: #1e71f7;
  cursor: pointer;
}
