.message {
  width: 60%;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
}

.message-start {
  display: flex;
  background-color: #807b7b;
  align-items: flex-start;
}

.message-end {
  display: flex;
  background-color: #007bff;
  align-items: flex-end;
  margin-left: auto; 
}

.message-bubble {
  font-size: 16px;
  color: #333;
}
