.messageContainer {
  border: 1px solid #ccc;
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messageContainer__header {
  height: 50px;
  padding: 10px;
  border-bottom: #1e71f7 1px solid;
}

.messageContainer__messages {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.messageContainer__input {
  height: 2rem;
  align-items: flex-end;
  padding: 10px;
  font-size: 0.9rem;
}
