.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8ff;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo img {
  width: 200px;
  height: auto;
}
.signup__elements {
  padding: 20px;
}
.signup__input {
  margin-bottom: 20px;
  text-align: left;
}

.signup__button {
  padding: 10px;
  width: 100%;
  border: none;

  border-radius: 10px;
  background-color: #1e71f7;
  color: white;
  border: 1px solid white;
}
.signup__button:hover {
  cursor: pointer;
}

h1 {
  font-size: 1.2rem;
}

input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

input:focus {
  outline: none;
  border-color: #1e71f7;
  box-shadow: 0 0 5px rgba(30, 113, 247, 0.5);
}
.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
